.pubgBackground {
  width: 1300px;
  height: 100px;
  font-size: small;
  color: white;
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 8px;
  background: linear-gradient(to right, #3a404a 30%, rgba(0, 0, 0, 0) 70%),
    url("../img/pubgMobileBackground.webp") no-repeat right center;
  display: flex;
}

/* Responsive stil */
@media (max-width: 768px) {
  .pubgBackground {
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.mobileLegendsBackground {
  width: 1300px;
  height: 100px;
  font-size: small;
  color: white;
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 8px;
  background: linear-gradient(to right, #3a404a 30%, rgba(0, 0, 0, 0) 70%),
    url("../img/mobileLegendsBackground.webp") no-repeat right center;
  display: flex;
}

/* Responsive stil */
@media (max-width: 768px) {
  .mobileLegendsBackground {
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.pubg {
  margin-left: 20px;
  position: absolute;
  margin-top: 0px;
}

.main3 {
  display: flex;
  margin-top: 50px;
  margin-left: 35px;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.uc1 {
  color: white;
  border: 1px solid gray;
  overflow: hidden;
  position: relative;
  width: 160px;
  height: 270px;
  margin-left: 40px;
  border-radius: 6px;
  margin-bottom: 20px; 
}

.uc1 > img {
  object-fit: contain;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 37%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.uc1 > button {
  color: white;
  background-color: #222223;
  padding: 10px;
  border: 2px solid #42b7df;
  border-radius: 5px;
}

.uc1 > p {
  margin-top: 120px;
}

.uc1 > p, h3, button {
  margin-left: 0px;
}

/* Responsive stil */
@media (max-width: 768px) {
  .main3 {
    margin: 20px 10px; 
    justify-content: center;
  }

  .uc1 {
    width: calc(50% - 20px); 
    margin-left: 10px; 
    margin-right: 10px; 
  }

  .uc1:nth-child(odd) {
    margin-left: 0; 
  }

  .uc1:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .uc1 {
    margin-left: 5px;
  }
}

